<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "contactlist"
        version     = "1.0.0" >

    <name>Contact list</name>
    <description>Contacts from your phone</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
        Joanna Pełeńska
    </author>
    <platform name="android" />

    <plugin name="cordova-plugin-contacts" spec="3.0.1" />
</widget>